.line{
    text-decoration: line-through;
}

.container{
    max-width: 100%;
    display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.header{
    max-width: 100%;
    background-color: #3f51b5;
    color: #fff;
    margin-bottom: 20px;
}

.example-form-field{
   width: 330px; 
   input{
    font-size: 20px;
  }
}
.todoList{
    width: 330px;
    height: 500px;
    overflow-y: scroll;
    position: relative;
    font-size: 20px;
}

.custom-button {
    background-color: #e6e61b; /* Replace with your desired color code */
    color: white; /* Text color */
  }
  .todoList{
    display: flex;
    justify-content: space-between;
  }
  .delete{
    position: absolute;
    right: 10px;
  }
  .edit{
    position: absolute;
    right: 40px;
  }
  @media only screen and (min-width: 768px){
    .example-form-field{
      width: 400px; 
      height: 130px;
      input{
        font-size: 25px;
      }
      
   }
   .todoList{
    width: 400px;
    height: 500px;
    overflow-y: scroll;
    position: relative;
}
  }