<!-- todo-list.component.html -->
<mat-toolbar class="header">
  <span>Todo App</span>
</mat-toolbar>
<div class="container">
  <mat-form-field class="example-form-field">
    <mat-label>Write todo here...</mat-label>
    <input matInput type="text" [(ngModel)]="inputValue">
    <button matSuffix mat-icon-button aria-label="Clear" *ngIf="selectedTodo ? selectedTodo : inputValue" (click)="inputValue='';">
      <mat-icon>close</mat-icon>
    </button>
    <button mat-raised-button class="custom-button" (click)="addTodo()">Add Todo</button>
    
  </mat-form-field>
  <mat-card class="todoList">
    <mat-list class="list">
      <mat-list-item *ngFor="let todo of todos" class="listItem">
        <mat-checkbox [(ngModel)]="todo.done" (mouseenter)="todo" (change)="updateTodoStatus(todo)"></mat-checkbox>
        <span mat-menu-trigger  [ngClass]="todo.done ? 'line': ''">
          {{ selectedTodo === todo ? '' : todo.title }}
        </span>
       
        <input matInput *ngIf="selectedTodo === todo" [(ngModel)]="selectedTodo.title" type="text">
        <mat-icon *ngIf="selectedTodo !== todo" class="edit" (click)="editTodo(todo)">edit</mat-icon>
        
        <mat-icon *ngIf="selectedTodo === todo" class="save" (click)="saveEdit()">done</mat-icon>
        <mat-icon *ngIf="selectedTodo === todo" class="cancel" (click)="selectedTodo = null">close</mat-icon>
        <mat-icon class="delete" (click)="openConfirmationDialog(todo)">delete</mat-icon>
      </mat-list-item>
    </mat-list>
  </mat-card>
</div>
